@model IEnumerable<AMST4_Carousel.MVC.Models.Category>

@{
    ViewData["Title"] = "Lista de Categoria";
}

<h1>Lista de Categorias</h1>

<p>
    <a class="btn btn-success" asp-action="AddCategory"><i class="fa fa-plus-circle"></i> Cadastrar</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
               Url da Imagem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="p-3">
            <td class="m-auto p-3">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="m-auto p-3">
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>

            <td>
                    <a class="btn btn-success mt-1 me-1 pt-1 pb-1" asp-action="EditCategory" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-primary mt-1 me-1 pt-1 pb-1" asp-action="DetailsCategory" asp-route-id="@item.Id"><i class="fa fa-search"></i></a>
                    <a class="btn btn-danger mt-1 pt-1 pb-1" asp-action="DeleteCategory" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        var table = new DataTable('#myTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.7/i18n/pt-BR.json',
            },
        });
    </script>
    
}
